[project]
	description = My first attempt at a REST API for the Holy Quran. Open to suggestions and changes.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SyedWasiHaider
[access "refs/for/refs/*"]
	read = group user/SyedWasiHaider
	push = group user/SyedWasiHaider
	label-Code-Review = -2..+2 group user/SyedWasiHaider
	label-Verified = -1..+1 group user/SyedWasiHaider
	rebase = group user/SyedWasiHaider
	removeReviewer = group user/SyedWasiHaider
	submit = group user/SyedWasiHaider
[access "refs/heads/*"]
	read = group user/SyedWasiHaider
	create = group user/SyedWasiHaider
	push = +force group user/SyedWasiHaider
	pushMerge = group user/SyedWasiHaider
[access "refs/tags/*"]
	push = +force group user/SyedWasiHaider
	pushTag = group user/SyedWasiHaider
	pushSignedTag = group user/SyedWasiHaider
